<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to VapeClubMY, <%= @user.name %></h1>
    <p>
      You have successfully signed up to VapeClubMY.com,
      your username is: <%= @user.login %>.<br>
      your password is: <%= @password %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      We recommend you to change your password immediately upon logging in.
    </p>
    <p>Thanks for joining and have a great day! #VapeClubKL!</p>
  </body>
</html>